section.section-achievements div.container {
  padding: 1rem;
}

.refresh-btn.github,
.refresh-btn {
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 2rem;
  margin-top: 2rem;
  width: 100%;
  display: none;
}

.refresh-btn.github:hover {
}

.refresh-btn.github:active {
}

.refresh-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.h1-title-repo-section-header {
  font-size: 2.5rem;
  text-align: center;
}

.h2-title-repo-section {
  font-size: 2rem;
  margin: 2rem 0;
  color: var(--text-muted);
}

.wrapper-section-achv {
  padding: 3rem 9%;
}

.repo-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem;
}

.repo-card.github {
  border-radius: 8px;
  padding: 16px;
  font-size: 1.4rem;
  transition: border 0.2s ease;
}

.repo-card.github:hover {
}

.repo-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 6px;
}

.repo-name {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}

.repo-name:hover {
}

.repo-desc {
  min-height: 8vh;
  font: 0.8rem;
  margin: 10px 0 2rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer-repo-wrapper {
  display: flex;
  justify-content: space-between;
}

.repo-meta,
.repo-actions {
  display: flex;
  text-decoration: none;
  gap: 0.5em;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.lang {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.education-nonformal {
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem;
}

.education-item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  gap: 1rem;
}

.footer-repo-wrapper {
  margin-top: auto;
}

.wrapper-wakatech {
display:flex;
width:100%;
gap:1rem;
} 

.wrapper-wakatime {
  border-radius: 1rem;
  width:100%;
  padding:.5rem;
}
.wrapper-wakatime-right {
  width: 100%;
  margin-top: auto;
  padding: 0.8rem;
  
}

.wrapper-title-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.waka-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Membuat teks sejajar secara vertikal */
  width: 100%; 
}

.title-wakatime {
  padding-bottom: 3%;
}

.h2-title-wakatime {
  padding: 1rem .5rem;
  font-size:1.5rem;
}

#bar {
  width: 100%;
  height: 9px;
  border-radius: 9999px;
  overflow: hidden;
  display: flex;
  margin-bottom: 16px;
}

.seg {
  height: 100%;
}

.status {
  font-size: 14px;
  padding: 6px 0;
}

#status.status.error {
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24vh, 1fr));
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  line-height: 2rem;
  font-size: 13px;
  min-width: 0;
}

.dot {
  width: 10px;
  height: 10px;
  gap: 1rem;
  margin: 0 0 0 1rem;
  border-radius: 999px;
  flex: 0 0 auto;
  background: #9ca3af;
}

.name {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time {
  margin-left: auto;
  font-variant-numeric: tabular-nums;
  flex: 0 0 auto;
}

#wakaToggle {
  margin-top: .75rem;
  padding: .4rem .8rem;
  border-radius: .4rem;
  border: 1px solid var(--border-color);
  background: transparent;
  color: var(--link);
  cursor: pointer;
}

#wakaToggle:hover {
  background: rgba(255,255,255,.05);
}

.wrapper-techstack {
  width: 100%;
  padding: 0.8rem;
  border-radius: 1rem;
}

#tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  flex-direction:column;
}


.tech-category {
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
  color: var(--text-muted);
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-badge {
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  font-weight:bold;
  font-size:1.1rem;  

}
