<div class="education-formal">
  <h3 class="title">Formal Education</h3>
  <div class="education-item">
    <h3 class="title">Computer and Network Engineering</h3>
    <p>Institution: State Vocational High School 5 Samarinda</p>
    <p>Year: 2020 - 2023</p>
    <a href="#" class="btn">see certificate</a>
  </div>
</div>

<!-- Non-Formal Education -->
<div class="education-nonformal">
  <h3 class="title">Non-Formal Education</h3>
  <h3 class="title">DICODING - Network</h3>
  <div class="education-item">
    <h3>Learn Computer Networks for Beginners</h3>
    <p>Institution: Dicoding Academy</p>
    <p>Year: 2023</p>
    <a
      href="https://www.dicoding.com/certificates/4EXG460L1PRL"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <h3 class="title">DICODING - Low Level Language</h3>
  <div class="education-item">
    <h3 class="title">Getting Started With C Programming</h3>
    <p>Institution: Dicoding Academy</p>
    <p>Year: 2023</p>
    <p></p>
    <br />
    <a
      href="https://www.dicoding.com/certificates/81P2VKVQOPOY"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <div class="education-item">
    <h3 class="title">Getting Started with Java Programming</h3>
    <p>Institution: Dicoding Academy</p>
    <p>Year: 2023</p>
    <p>
      <a
        href="https://www.dicoding.com/certificates/N9ZOYYG88PG5"
        target="_blank"
        class="btn"
        >see certificate</a
      >
    </p>
  </div>
  <h3 class="title">
    DiCODING - Back-End Developer JavaScript || Front-End Web Developer
  </h3>
  <div class="education-item">
    <h3 class="title">
      Cloud Practitioner Essentials (Learn AWS Cloud Basics)
    </h3>
    <p>Institution: Dicoding Academy</p>
    <p>Year: 2023</p>
    <p></p>
    <br />
    <a
      href="https://www.dicoding.com/certificates/53XEOK8YYZRN"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <div class="education-item">
    <h3 class="title">Learn JavaScript Programming Basics</h3>
    <p>Institution: Dicoding Academy</p>
    <p>Year: 2023</p>
    <p></p>
    <br />
    <a
      href="https://www.dicoding.com/certificates/JLX17NMMGX72"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <div class="education-item">
    <h3 class="title">Learn Back-End Beginners with JavaScript</h3>
    <p>Institution: Dicoding Academy</p>
    <p>Year: 2023</p>
    <p></p>
    <br />
    <a
      href="https://www.dicoding.com/certificates/07Z600YGWZQR"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <div class="education-item">
    <h3 class="title">
      Architecting on AWS (Building Cloud Architecture on AWS)
    </h3>
    <p>Institution: Dicoding Academy</p>
    <p>Year: 2023</p>
    <p></p>
    <br />
    <a
      href="https://www.dicoding.com/certificates/53XEO3JO0ZRN"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <div class="education-item">
    <h3 class="title">Learn Back-End Fundamentals with JavaScript</h3>
    <p>Institution: Dicoding Academy</p>
    <p>Year: 2023</p>
    <p></p>
    <br />
    <a
      href="https://www.dicoding.com/certificates/53XEO5LE0ZRN"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <div class="education-item">
    <h3 class="title">Learn Web Programming Basics</h3>
    <p>Institution: Dicoding Academy</p>
    <p>Year: 2023</p>
    <p></p>
    <br />
    <a
      href="https://www.dicoding.com/certificates/07Z60OR8MZQR"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <div class="education-item">
    <h3 class="title">Learn to Create Front-End Web for Beginners</h3>
    <p>Institution: Dicoding Academy</p>
    <p>Year: 2023</p>
    <p></p>
    <br />
    <a
      href="https://www.dicoding.com/certificates/MRZME2V6LPYQ"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <div class="education-item">
    <h3 class="title">Learn Front-End Web Development Fundamentals</h3>
    <p>Institution: Dicoding Academy</p>
    <p>Year: 2023</p>
    <p></p>
    <br />
    <a
      href="https://www.dicoding.com/certificates/MRZM8NE0NZYQ"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <h3 class="title">Cisco Networking Academy</h3>
  <div class="education-item">
    <h3 class="title">Network Technician Career Path</h3>
    <p>Institution: Cisco Networking Academy</p>
    <p>Year: 2024</p>
    <p></p>
    <br />
    <a
      href="https://www.credly.com/badges/ffea73be-e213-4b3d-b793-2c80d932f646"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <div class="education-item">
    <h3 class="title">Junior Cybersecurity Analyst Career Path</h3>
    <p>Institution: Cisco Networking Academy</p>
    <p>Year: 2024</p>
    <p></p>
    <br />
    <a
      href="https://www.credly.com/badges/ffea73be-e213-4b3d-b793-2c80d932f646"
      target="_blank"
      class="btn"
      >see certificate</a
    >
  </div>
  <h3 class="title">OFFSEC</h3>
  <div class="education-item">
    <h3>PEN-103: Kali Linux Revealed</h3>
    <p>Institution: Kali Linux Revealed</p>
    <p>Year: 2024</p>
    <p></p>
    <br />
    <a
      href="https://portal.offsec.com/courses/PEN-103-16306/"
      target="_blank"
      class="btn"
      >see PEN-103-16306</a
    >
  </div>
</div>
