<div class="home-img">
  <img src="/style/images/me.jpg" />
</div>

<div class="home-content">
  <h1>Hi, It's <span>Achyy</span></h1>
  <h3 class="typing-text">I'm a <span id="typing"></span></h3>
  <p>
  Just someone who loves learning and growing.</br>
  You can call me <strong>INDRA</strong> - it's my real name.</br>
  This is where I <a href="http://tearsachly.is-a.dev/Simple-Notes/" target="_blank" class="notes">share what I learn</a> and explore along the way.
  </p>

  <div class="social-icons">
    <h3 class="reach-title">📫 How to reach me<span class="dots"></span></h3>
    <a href="mailto:tearsachly@gmail.com" target="_blank"
      ><i class="fa-solid fa-envelope"></i
    ></a>
    <a href="https://github.com/TearsAchly" target="_blank"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a href="https://www.facebook.com/TearsAchly/" target="_blank"
      ><i class="fa-brands fa-facebook"></i
    ></a>
    <a href="https://t.me/achlysa" target="blank">
      <i class="fa-brands fa-telegram"></i
    ></a>
  </div>
  <a href="#" class="btn">Download CV</a>
</div>
