<div class="skills">
  <div class="skills-content">
    <div class="skill-category">
      <h3>Front-End</h3>
      <div class="skill-chips">
        <h4>Languages</h4>
        <span class="chip"><strong>HTML</strong></span>
        <span class="chip"><strong>CSS</strong></span>
        <span class="chip"><strong>JavaScript</strong></span>
        <h4>Toolings</h4>
        <span class="chip"><strong>Webpack</strong></span>
      </div>
    </div>

    <div class="skill-category">
      <h3>Back-End</h3>
      <div class="skill-chips">
        <h4>Languages</h4>
        <span class="chip"><strong>JavaScript</strong></span>
        <h4>Core</h4>
        <span class="chip"><strong>Node.js</strong></span>
        <span class="chip"><strong>Hapi.js</strong></span>
        <span class="chip"><strong>RESTful API</strong></span>
        <span class="chip"><strong>JWT</strong></span>
        <h4>Infrastructure</h4>
        <span class="chip"><strong>AWS</strong></span>
        <span class="chip"><strong>RabbitMQ</strong></span>
        <span class="chip"><strong>Nginx</strong></span>
        <span class="chip"><strong>PostgreSQL</strong></span>
        <h4>Concepts</h4>
        <span class="chip"><strong>HTTP Server</strong></span>
        <span class="chip"><strong>Routing</strong></span>
        <span class="chip"><strong>Architecture on AWS</strong></span>
      </div>
    </div>

    <div class="skill-category">
      <h3>Cybersecurity</h3>
      <div class="skill-chips">
        <h4>Web Application Security</h4>
        <span class="chip"><strong>XSS</strong></span>
        <span class="chip"><strong>CSRF</strong></span>
        <span class="chip"><strong>SQL Injection</strong></span>
        <span class="chip"><strong>Brute Force</strong></span>
        <h4>Security Tools</h4>
        <span class="chip"><strong>Burp Suite</strong></span>
        <span class="chip"><strong>Wireshark</strong></span>
      </div>
    </div>

    <div class="skill-category">
      <h3>Developer Tools & Workflow</h3>
      <div class="skill-chips">
        <h4>Operating System</h4>
        <span class="chip"><strong>Windows</strong></span>
        <span class="chip"><strong>Linux >arch,kali<</strong></span>
        <h4>Version Control</h4>
        <span class="chip"><strong>Git</strong></span>
        <span class="chip"><strong>GitHub</strong></span>
        <h4>Development tools</h4>
        <span class="chip"><strong>Postman</strong></span>
        <span class="chip"><strong>Neovim</strong></span>
        <span class="chip"><strong>npm</strong></span>
      </div>
    </div>
  </div>
</div>
