<div class="skill-category">
  <h3>Languages</h3>
  <a class="skill-icons" href="https://skillicons.dev">
    <img src="https://skillicons.dev/icons?i=c,java,html,css,js&perline=4" />
  </a>
</div>

<div class="skill-category">
  <h3>Frameworks & Tools</h3>
  <a class="skill-icons" href="https://skillicons.dev">
    <img
      src="https://skillicons.dev/icons?i=webpack,express,nodejs,npm&perline=4"
    />
  </a>
</div>

<div class="skill-category">
  <h3>Cloud & DevOps</h3>
  <a class="skill-icons" href="https://skillicons.dev">
    <img
      src="https://skillicons.dev/icons?i=aws,docker,kubernetes,linux,nginx&perline=4"
    />
  </a>
</div>

<div class="skill-category">
  <h3>Cybersecurity & Tools</h3>
  <a class="skill-icons" href="https://skillicons.dev">
    <img
      src="https://skillicons.dev/icons?i=kali,linux,wireshark,burpsuite,security&perline=4"
    />
  </a>
</div>

<div class="skill-category">
  <h3>Tools & Workflow</h3>
  <a class="skill-icons" href="https://skillicons.dev">
    <img
      src="https://skillicons.dev/icons?i=arch,neovim,git,github,vscode,postman,bash&perline=4"
    />
  </a>
</div>
