<div class="skills">
  <div class="skills-content">
    <div class="skill-category">
      <h3>Front-End</h3>
      <div class="skill-chips">
        <span class="chip"><strong>HTML</strong></span>
        <span class="chip"><strong>CSS</strong></span>
        <span class="chip"><strong>JavaScript</strong></span>
        <span class="chip"><strong>Webpack</strong></span>
      </div>
    </div>

    <div class="skill-category">
      <h3>Back-End</h3>
      <div class="skill-chips">
        <span class="chip"><strong>AWS</strong></span>
        <span class="chip"><strong>RESTful API</strong></span>
        <span class="chip"><strong>HTTP Server</strong></span>
        <span class="chip"><strong>Routing</strong></span>
        <span class="chip"><strong>Architecture on AWS</strong></span>
        <span class="chip"><strong>Node.js</strong></span>
        <span class="chip"><strong>Hapi.js</strong></span>
        <span class="chip"><strong>Npm</strong></span>
        <span class="chip"><strong>PostgreSQL</strong></span>
        <span class="chip"><strong>JWT</strong></span>
        <span class="chip"><strong>RabbitMQ</strong></span>
        <span class="chip"><strong>Nginx</strong></span>
      </div>
    </div>

    <div class="skill-category">
      <h3>Cybersecurity</h3>
      <div class="skill-chips">
        <span class="chip"><strong>OWASP Top 10</strong></span>
        <span class="chip"><strong>XSS</strong></span>
        <span class="chip"><strong>CSRF</strong></span>
        <span class="chip"><strong>SQL Injection</strong></span>
        <span class="chip"><strong>Brute Force</strong></span>
        <span class="chip"><strong>Burp Suite</strong></span>
        <span class="chip"><strong>Wireshark</strong></span>
      </div>
    </div>

    <div class="skill-category">
    <h3>Artificial Intelligence</h3>
      <div class="skill-chips">
        <span class="chip"><strong>AI Fundamentals</strong></span>
        <span class="chip"><strong>Machine Learning Concepts</strong></span>
        <span class="chip"><strong>Deep Learning Overview</strong></span>
      </div>
    </div>

    <div class="skill-category">
      <h3>Developer Tools & Workflow</h3>
      <div class="skill-chips">
        <span class="chip"><strong>Windows</strong></span>
        <span class="chip"><strong>Arch Linux</strong></span>
        <span class="chip"><strong>Kali Linux</strong></span>
        <span class="chip"><strong>Bash</strong></span>
        <span class="chip"><strong>Git</strong></span>
        <span class="chip"><strong>GitHub</strong></span>
        <span class="chip"><strong>Postman</strong></span>
        <span class="chip"><strong>Neovim</strong></span>
        <span class="chip"><strong>HackBar</strong></span>
      </div>
    </div>
  </div>
</div>
